html {
    --epitech-blue: #0091D3;
    --epitech-violet: #604696;
    font-family: 'Mulish', sans-serif;
}

body {
    margin: 0rem;
}

header {
    background-color: rgba(96, 70, 150, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 4rem; */
    padding-bottom: 4rem;
}

p {
    text-align: justify;
}

a {
    color: black;
}

.paragraph-left {
    display: flex;
    flex-direction: row;
}

.paragraph-left div {
    width: 50%;
}

.paragraph-left div:last-child {
    margin-top: 3rem;
    margin-left: 1rem;
}

.signaling-button > .testimony-button {
    padding: 3rem;
    margin: 1rem;
}

section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h2 {
    color: rgba(31, 72, 94);
}

li:not(:last-child) { 
    margin-bottom: 1rem;
}

ul {
    padding-left: 1rem;
}

.epitech-logo {
    height: 10rem;
}

.navigation {
    background-color: rgba(96, 70, 150, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.engagements-img {
    width: 40vw;
    margin-top: 5rem;
}

.navigation > a {
    background-color: #1f485e;
    box-shadow: none;
    margin-bottom: 0.2rem;
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    align-items: center;
    display: flex;
    border-radius: 1rem;
    margin-left: 1rem;
}

.navigation > a:hover {
    background-color: white;
    color: #1f485e;
    transition: all ease-in-out 0.4s;
    border: solid 1px #1f485e;
}

.more-info {
    display: flex;
    flex-direction: row;
}

.how {
    margin-right: 2rem;
}

.engagement {
    display: flex;
    flex-direction: row;
    padding-bottom: 6rem;
    background-color: rgba(96, 70, 150, 0.4);
}

.engagement > div {
    max-width: 60vw;
    margin-right: 5rem;
}

.engagement-text {
    display: flex;
    flex-direction: column;
}

.engagement >  p, li{
    max-width: 60vw;
    text-align: left;
}

.engagement > .testimony-button {
    visibility: hidden;
    display: none;
}

.resp {
    display: flex;
    flex-direction: row;
}

.resp-panel {
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.volontary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.volontary-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.volontary-img > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resp-img > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resp-text {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.resp-img {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimony-button {
    background-color: white;
    border-radius: 1rem;
    color: var(--epitech-blue);
    box-shadow: none;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all ease-in-out 0.4s;
    width: 15vw;
    margin: 2rem;
    padding: 2rem;
    text-decoration: none;
}

.testimony-button:hover {
    background-color: var(--epitech-blue);
    color: white;
}

.signaling {
    display: flex;
    flex-direction: row;
    margin: 0rem;
    background-color: rgba(0, 145, 211, 0.4);
}

.signaling-text {
    max-width: 60vw;
}

.iframe {
    width: 30vw;
    height: 70vh;
}

.signaling-button {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resp-text > div {
    max-width: 60vw;
}

@media (max-width: 1250px) {
    .epitech-logo {
        height: 5rem;
        justify-self: center;
        align-self: center;
    }
    
    .testimony-button {
        padding: 2rem;
        width: 7vw;
        font-size: 0.8rem;
        height: 1rem;
        align-self: center;
    }

    .engagement {
        display: flex;
        flex-flow: column-reverse;
    }
    
    .engagement > div {
        max-width: 100vw;
        width: 100%;

    }

    .engagement >  p, li{
        max-width: 100vw;
        width: 100%;
        text-align: left;
    }
        
    .engagement > .testimony-button {
        visibility: hidden;
        display: none;
    }

    .engagements-img {
        width: 80vw;
        margin-top: 5rem;
        margin: auto;
    }

    .navigation a {
        text-align: center;
        padding: 1rem;
        margin-left: 0rem;
    }

    .navigation > a:not(:last-child) { 
        margin-right: 1rem;
    }

    .volontary {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }
    
    .resp {
        display: flex;
        flex-direction: column;
    }

    .resp-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .resp-text > div {
        max-width: 100vw;
    }

    .resp-img {
        margin-top: 2rem;
    }

    .resp-panel {
        width: 100%;
    }

    .signaling {
        flex-direction: column;
        align-items: center;
    }

    .signaling-text {
        width: 100vw;
        max-width: 100%;
    }

    .signaling-button > .testimony-button {
        padding: 3rem;
        width: 30vw;
        font-size: 1.5rem;
        height: 1rem;
        align-self: center;
        margin-top: 1rem;
    }

    .iframe {
        width: 100vw;
        height: 70vh;
    }
}

@media (max-width: 640px) {
    header > .testimony-button {
        visibility: hidden;
        display: none;
    }

    .engagement {
        padding-top: 2rem;
    }

    header {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation a {
        justify-content: center;
    }

    .navigation > a:not(:last-child) { 
        margin-right: 0rem;
    }

    .testimony-button {
        width: 90%;
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .paragraph-left div:last-child {
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .paragraph-left {
        display: flex;
        flex-direction: column;
    }
    
    .paragraph-left div {
        width: 100%;
        margin-left: 0rem;
    }

    .more-info {
        flex-direction: column;
    }
    .how {
        margin-right: 0px;
    }
    .iframe {
        width: 100vw;
    }
    ul {
        padding-left: 1.2rem;
    }

    .volontary-img img {
        width: 15rem;
    }
    .resp-img img {
        width: 15rem;
    }
}